:root {
    --transparent-bg: rgba(255, 255, 255, 0.068);
    --white: #FFFFFF;
    --grey: #8b8b8b;
    --rich-black: #00171F;
    --primary-dark: #003459;
    --secondary-mid: #007EA7;
    --tertiary-light: #00A8E8;
}