/*
****************************************************************************
****READ THE FOLLOWING BEFORE MAKING ANY MODIFICATIONS OR CONTRIBUTING.****
****************************************************************************
* STYLESHEET LAYOUT:  
* Stylesheet divided into CSS Variable imports, CSS Resets/Defaults, Components & 
* layout and finally media queries in that order. 
* Media queries are at (720, 1080, 1200)px, i.e. the breakpoints of the web app.
* 
* SELECTORS NAMING CONVENTION: 
* The button to open the mobile navigation menu with ID "#nav-menu-open" is hidden 
* via "display: none" property at 720px media query. The button's ID is used as the selector. 
* 
* Apart from that button (and RESETS/DEFAULTS Selectors), all other selectors use the BEM 
* naming syntax. If you are unfamiliar with this syntax or want to see the justification
* in using it, this article explains it nicely: https://css-tricks.com/bem-101/
* 
* ADDING PAGE SECTIONS: 
* Major page sections (eg. departments section, contact section, etc.) "padding" property values at 
* various screen widths: 
* "40px" on mobile (i.e. less than 720px, which is the first breakpoint/media query), 
* "40px 60px" at media query greater than 720px 
* "60px 15%" at media query greater than 1080px 
* Use these padding values at the various screen widths if you add any major page sections to 
* ensure consistency.
* 
* ADDITIONAL NOTES: 
* Do not embbed any fonts into the CSS. Official UTech Motorsports fonts should be provided in
* the future.
* 
* Only use color variables in "colors.css" when styling content. This is the approved club palette.
*/

/*CSS VARIABLES IMPORTS*/
@import url("colors.css");

/*CSS RESETS/DEFAULTS*/
* {
    margin: 0rem;
    padding: 0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden ;
}

:root {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 90px;
}

/*COMPONENTS & LAYOUTS*/
.contact-section {
    background-color: var(--primary-dark);
    color: var(--white);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact-section__btn {
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    font-weight: bold;
    margin: 15px 0px;
    text-decoration: none;
    padding: 10px 30px;
}

.contact-section__btn:hover{
    background-color: var(--tertiary-light);
}

.contact-section__flex-wrappers {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.contact-section__socials-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(19%) 
}

.contact-section__text {
    text-align: center;
}

.depts-sect {
    padding: 40px;
}

.depts-sect__click-instructions {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: grey;
    font-size: 0.8rem;
}

.depts-sect__dept-title {
    font-weight: bold;
    padding: 10px 0px;
    color: var(--white);
}

.depts-sect__dept-description {
    display: none;
}

.depts-sect__heading {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.depts-sect__list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-auto-rows: 150px;
    list-style-type: none;
}

.depts-sect__tile {
    align-items: center;
    background-color: var(--rich-black);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.depts-sect__icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(19%);
}

.depts-sect__tile:hover {
    outline: 3px solid var(--tertiary-light);
}

.footer-section {
    align-items: center;
    background-color: var(--rich-black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 50px 40px 15px;
}

.footer-section__copyright-text {
    color: var(--grey);
    font-size: 0.8rem;
}

.footer-section__headings {
    font-weight: bold;
    font-size: 0.8rem;
    padding-bottom: 10px;
}

.footer-section__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 30px;
}

.footer-section__links {
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-size: 0.8rem;
}

.footer-section__lists-wrapper {
    border-bottom: 1px solid var(--grey);
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 100%;
}

.hero-banner {
    background-color: grey;
    background-image: linear-gradient(rgb(0, 0, 0) 10%, transparent), url("imgs/banner_004.png");
    background-position: 0px 0px, 1550px -280px;
    height: 400px;
    width: 100%;
}

.hero-banner__txt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0px 40px;
}

.hero-banner__title-HD {
    display: none;
}

.hero-banner__banner-text {
    color: var(--white);
    font-size: 3rem;
    font-weight: 400;
    padding-top: 2px;
}

.hero-banner__banner-text--bold {
    font-size: 3.5rem;
    font-weight: 1000;
}

.hero-banner__slogan {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    color: var(--white);
}

.mission-statement {
    padding: 40px 0px;
    text-align: center;
}

.mission-statement__heading {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.mission-statement__photo {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.mission-statement__paragraph {
    line-height: 1.5;
    padding: 0px 40px 2rem;
}

.mission-fullHD-wrapper {
    display: none;
}

.nav {
    align-items: center;
    background-color: var(--rich-black);
    color: var(--white);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 99;
    padding: 10px 40px;
}

.nav__desktop-menu {
    display: none;
    list-style-type: none;
    gap: 5vw;
}

.nav__desktop-menu-item {
    color: var(--white);
    font-size: 0.9rem;
    text-decoration: none;
}

.nav__desktop-menu-item:hover {
    text-decoration: underline;
}

.nav__menu-button {
    background-color: var(--transparent-bg);
    border: none;
    border-radius: 5px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.nav__menu-button:hover {
    outline: 1px solid var(--white);
}

.nav__menu-icons {
    filter: brightness(0) saturate(100%) invert(100%) sepia(19%);
}

.nav__mobile-menu {
    background-color: var(--rich-black);
    height: 100vh;
    max-width: 640px;
    position: absolute;
    padding: 20px 40px;
    top: 0px;
    right: -100vw;
    width: 100vw;
    transition: 500ms;
    transition-timing-function: ease-in-out;
    visibility: hidden;
}

.nav__mobile-menu--active {
    transform: translateX(-100vw);
    visibility: visible;
}

.nav__mobile-header {
    align-items: center;
    display: flex;
    gap: 25px;
}

.nav__mobile-items-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}

.nav__menu-item {
    background-color: var(--transparent-bg);
    border-radius: 5px;
    list-style-type: none;
    padding: 10px 15px;
}

.nav__menu-item-link {
    align-items: center;
    color: var(--white);
    display: flex;
    gap: 25px;
    text-decoration: none;
}

.nav__item-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(19%);
    height: 30px;
    object-fit: cover;
    text-indent: -99999px;
    width: 30px;
}

.nav__item-icon--depts-icon {
    background-image: url("imgs/icons/tools.svg");
}

.nav__item-icon--team-icon {
    background-image: url("imgs/icons/account-group.svg");
}

.nav__item-icon--connect-icon {
    background-image: url("imgs/icons/web.svg");
}

.nav__logo {
    margin: 10px 0px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(19%);
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}

/*Temporaryly disabled until team members pages are implemented*/
.team-section__button {
    display: none;
    background-color: var(--primary-dark);
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-weight: bold;
    margin-top: 2rem;
    padding: 10px 50px;
}

.team-section__heading {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.2rem ;
}

.team-section__tile-list {
    clip-path: polygon(5% 0%, 95% 0%, 95% 100%, 5% 100%);
    list-style-type: none;
    display: flex;
    gap: 10px;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0px 8%;
}

.team-section__tile {
    clip-path: polygon(87% 0, 100% 14%, 100% 100%, 9% 100%, 0 88%, 0 0);
    background-color: var(--primary-dark);
    min-height: 350px;
    max-height: 350px;
    min-width: 250px;
    max-width: 250px;
    position: relative;
}

.team-section__headshot-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
} 

.team-section__exec-title {
    color: var(--white);
    max-width: min-content;
    font-size: 1.8rem;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 2;
}

.team-section__exec-name {
    bottom: 15px;
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
    max-width: min-content;
    position: absolute;
    right: 20px;
    text-shadow: 0px 0px 5px black; /*can't use variable syntax, "var()", here for some reason*/
    z-index: 2;
}

.sponsors-section {
    padding: 40px;
}

.sponsors-section__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.sponsors-section__logos {
    justify-self: center;
    align-self: center;
}

.sponsors-section__heading {
    text-align: center;
    font-size: 1.2rem;
}


/*MEDIA QUERIES*/
@media only screen and (width >= 720px) {
    .depts-sect {
        padding: 40px 60px;
    }
    
    .depts-sect__list {
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        grid-auto-rows: 200px;
    }

    .contact-section {
        padding: 40px 60px;
    }

    .contact-section__heading {
        font-size: 1.2rem;
    }

    
    .footer-section {
        padding: 50px 60px 15px;
    }
    
    .footer-section__list {
        gap: 30px;
        padding-bottom: 45px;
    }
    
    .hero-banner__banner-text {
        font-size: 3rem;
    }
    
    .hero-banner__banner-text--bold {
        font-size: 3.5rem;
    }
    
    .hero-banner__slogan {
        font-size: 1.5rem;
    }
    
    .hero-banner {
        height: 480px;
        background-position: 0px 0px, 1550px -180px;
    }
    
    .hero-banner__txt-wrapper {
        padding: 0px 60px;
    }
    
    .hero-banner__title-HD {
        display: inline;
    }
    
    .hero-banner__mobile-text {
        display: none;
    }
    
    .mission-statement {
        padding: 40px 0px;
    }
    
    .mission-statement__photo {
        height: 500px;
    }
    
    .nav {
        padding: 10px 60px;        
    }

    .nav__desktop-menu {
        display: flex;
    }
    
    #nav-menu-open {
        display: none;
    }

    .sponsors-section {
        padding: 40px 60px;
    }

    .sponsors-section___heading {
        font-size: 2rem;
    }
}

@media only screen and (width >= 1080px) {
    .contact-section {
        padding: 60px 15%;
    }

    .contact-section__heading {
        font-size: 1.5rem;
    }

    .depts-sect {
        padding: 60px 15%;
    }

    .depts-sect__heading {
        font-size: 2rem;
    }

    .depts-sect__list {
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        grid-auto-rows: 300px;
    }

    .footer-section {
        padding: 50px 15% 15px;
    }

    .hero-banner {
        background-position: 0px 0px,  center;
        height: 720px;
    }

    .hero-banner__txt-wrapper {
        padding: 0px 25px;
    }

    .hero-banner__banner-text{
        font-size: 4rem;
        text-align: center;
    }

    .hero-banner__slogan {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .mission-statement {
        display: none;
    }

    .mission-fullHD-wrapper {
        display: flex;
        flex-direction: row;
    }

    .mission-fullHD-wrapper__text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        line-height: 2; 
    }

    .mission-fullHD-wrapper__heading {
        font-size: 2rem;
        line-height: 1.4;
    }

    .mission-fullHD-wrapper__paragraph {
        margin-top: 1rem;
        margin-right: 10vw;
    } 

    .mission-fullHD-wrapper__photo {
        width: 50vw;
        height: 500px;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
        background-color: grey;
        object-fit: cover;
    }    

    .nav {
        padding: 10px 15%;
    }

    .team-section__heading {
        font-size: 2rem;
    }

    .sponsors-section {
        padding: 60px 15%;
    }
}

@media only screen and (width >= 1200px) {
    .depts-sect__dept-description {
        display: inline;
        margin: 15px 20px;
        color: var(--white);
        text-align: center;
    }

    .depts-sect__tile {
        padding: 10px;
    }

    .hero-banner {
        height: 100vh;
        background-image: linear-gradient(rgb(0, 0, 0) 30%, transparent), url("imgs/banner_004.png");
        background-position: 0px 0px, -100px 180px;
    }
    
    .mission-fullHD-wrapper__photo{
        line-height: 2;
    }
}